:root {
    --clr-primary-500: hsl(0, 0%, 100%);
    --clr-accent-500: hsl(212, 45%, 89%);
    --clr-accent-200: hsl(220, 15%, 55%);
    --clr-neutral-500: hsl(218, 44%, 22%);
    --clr-neutral-200: #2C7DFA;

    --ff-primary: 'Outfit', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-300: 0.938rem;
    --fs-400: 1rem;
    --fs-500: 1.375rem;

    --fs-body: var(--fs-300);
    --fs-primary-heading: var(--fs-500);

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.25rem;
    --size-600: 2rem;
    --size-700: 4rem;
    --size-900: 25rem;
}

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* // HIDE PLACEHOLDER TEXT ON FOCUS */
  input:focus {
    &::-webkit-input-placeholder {
       color: transparent;
       -webkit-transition: color 0.2s ease;
       transition: color 0.2s ease;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: transparent;
       -webkit-transition: color 0.2s ease;
       transition: color 0.2s ease;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: transparent;
       -webkit-transition: color 0.2s ease;
       transition: color 0.2s ease;
    }

    &:-ms-input-placeholder {  
       color: transparent;
       -webkit-transition: color 0.2s ease;
       transition: color 0.2s ease;
    }
  }

/* General Styling */
body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    background-color: var(--clr-accent-500);
    overflow-y: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    margin: var(--size-500);    
}

.container {
    max-width: 360px;
    margin: 0 auto;
}

/* card */
.card {
    background-color: var(--clr-primary-500);
    border-radius: var(--size-500);
    margin: 0 1em;
    padding: var(--size-400);
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    position: relative;
}

.card img {
  max-width: 100%; 
  display: block;
  margin: 0 auto;
}

#qr-code {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 250px;
  height: auto;
}

@media (max-width: 600px) {
  #qr-code {
    width: 70%;
  }
}

/* description */
.text {
    padding: 1.5rem 0.625rem;
}

.text h2 {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
    padding-bottom: var(--size-400);
    color: var(--clr-neutral-500);
}

.text p {
    color: var(--clr-accent-200);
}

/* form */
.form input {
    border: none;
    background-color: var(--clr-accent-500);
    padding: var(--size-200);
    border-radius: var(--size-200);
    width: 100%;
    text-align: center;
}

.form button {
    margin-top: var(--size-300);
    cursor: pointer;
    border: none;
    background-color: var(--clr-neutral-200);
    color: var(--clr-primary-500);
    font-weight: var(--fw-medium);
    padding: var(--size-200);
    border-radius: var(--size-200);
    width: 100%;
}

/* footer */
footer {
    padding-top: var(--size-500);
}